<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DBSpy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBSpy.Properties.Settings>
            <setting name="ConnString" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="CurrentDataModel" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="CurrentDatabaseType" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ProviderString" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="NetworkAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="SID" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="IntegratedSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttributeName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProviderText" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionName" serializeAs="String">
                <value />
            </setting>
        </DBSpy.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
